<div data-find-device-modal data-device-select-callback="deviceSelected"></div>
<div data-create-device-modal data-device-select-callback="deviceSelected"></div>

<div class="container">

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h5>Service order</h5>

                    <form name="data.form" novalidate>
                        <div class="row">
                            <div input-field class="col s4">
                                <input id="customer" type="text" name="customer" data-ng-model="serviceOrder.serviceRequest.customer.subject.name"
                                       required="" aria-required="true" disabled>
                                <label for="customer">Customer</label>
                            </div>
                            <div input-field class="col s4">
                                <input id="status" type="text" name="status" data-ng-model="serviceOrder.serviceOrderStatusType.name" disabled>
                                <label for="status">Status</label>
                            </div>
                            <div input-field class="col s4">
                                <input id="totalPrice" type="text" name="totalPrice" data-ng-model="serviceOrder.totalPrice" disabled>
                                <label for="totalPrice">Total price</label>
                            </div>
                            <div input-field class="col s12">
                                <textarea id="note" class="materialize-textarea" data-ng-model="serviceOrder.note"></textarea>
                                <label for="note">Note</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button class="btn waves-effect waves-light right" name="button-find-device"
                                        data-ng-href='#findDeviceModal' data-modal>Find device</button>
                                <button class="btn waves-effect waves-light right" name="button-create-device"
                                        data-ng-href='#createDeviceModal' data-modal>Create device</button>
                                <h5>Service devices</h5>
                                <table>
                                    <thead>
                                    <tr>
                                        <th data-field="id">ID</th>
                                        <th data-field="name">Device name</th>
                                        <th data-field="model">Model</th>
                                        <th data-field="type">Type</th>
                                        <th data-field="status">Status</th>
                                        <th data-field="to-store">To store</th>
                                        <th data-field="from-store">From store</th>
                                        <th data-field="actions"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="serviceDevice in serviceOrder.serviceDevices | orderBy:'id'">
                                        <td>{{serviceDevice.device.id}}</td>
                                        <td>{{serviceDevice.device.name}}</td>
                                        <td>{{serviceDevice.device.model}}</td>
                                        <td>{{serviceDevice.device.deviceType.name}}</td>
                                        <td class="with-input">
                                            <div input-field>
                                                <select material-select watch id="service-device-status" name="serviceDeviceStatus"
                                                        data-ng-model="serviceDevice.serviceDeviceStatusType"
                                                        data-ng-options="status as status.name for status in data.serviceDeviceStatusTypes track by status.id">
                                                </select>
                                            </div>
                                        </td>
                                        <td class="with-input">
                                            <div input-field>
                                                <input id="so-device-to-store" type="text" name="serviceDeviceToStore" data-ng-model="serviceDevice.toStore">
                                            </div>
                                        </td>
                                        <td class="with-input">
                                            <div input-field>
                                                <input id="so-device-from-store" type="text" name="serviceDeviceFromStore" data-ng-model="serviceDevice.fromStore">
                                            </div>
                                        </td>
                                        <td>
                                            <a href="" data-tooltipped data-ng-click="remove(serviceDevice)" class="right"
                                               data-position="bottom" data-delay="200" data-tooltip="Remove from service order">
                                                <i class="material-icons">clear</i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <h5>Service parts</h5>
                                <table>
                                    <thead>
                                    <tr>
                                        <th data-field="id">ID</th>
                                        <th data-field="name">Name</th>
                                        <th data-field="serialNumber">Serial no</th>
                                        <th data-field="serviceDevice">Service device</th>
                                        <th data-field="count">Count</th>
                                        <th data-field="price">Price</th>
                                        <th data-field="price">Total</th>
                                        <th data-field="actions"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="servicePart in serviceOrder.serviceParts | orderBy:'id'">
                                        <td>{{servicePart.id}}</td>
                                        <td class="with-input">
                                            <div input-field>
                                                <input type="text" name="servicePartName" data-ng-model="servicePart.name">
                                            </div>
                                        </td>
                                        <td class="with-input">
                                            <div input-field>
                                                <input type="text" name="servicePartSerialNumber" data-ng-model="servicePart.serialNumber">
                                            </div>
                                        </td>
                                        <td class="with-input">
                                            <div input-field>
                                                <select material-select watch id="service-part-service-device" name="servicePartServiceDevice"
                                                        data-ng-model="servicePart.serviceDevice"
                                                        data-ng-options="serviceDevice as serviceDevice.device.name for serviceDevice in serviceOrder.serviceDevices track by serviceDevice.id">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="with-input">
                                            <div input-field>
                                                <input type="number" name="servicePartCount{{$index}}" data-ng-model="servicePart.count"
                                                       data-ng-max="getMaxPartCount(servicePart)">

                                                <div data-ng-messages="data.form['servicePartCount' + $index].$error">
                                                    <div data-ng-message="max">Part count is too big</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="with-input">
                                            <div input-field>
                                                <input type="number" name="servicePartPrice" data-ng-model="servicePart.price">
                                            </div>
                                        </td>
                                        <td>{{servicePart.count * servicePart.price}}</td>
                                        <td>
                                            <a href="" data-tooltipped data-ng-click="removeServicePart(servicePart)" class="right"
                                               data-position="bottom" data-delay="200" data-tooltip="Remove">
                                                <i class="material-icons">clear</i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <a href="" data-tooltipped data-ng-click="addServicePartRow()" class="right"
                                               data-position="bottom" data-delay="200" data-tooltip="Add row">
                                                <i class="material-icons">add</i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div input-field class="col s4 offset-s4">
                                <button class="btn waves-effect waves-light full-width" type="submit" name="button-save"
                                        data-ng-click="save()">Save</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
