<div data-find-device-modal data-device-select-callback="deviceSelected"></div>
<div data-create-device-modal data-device-select-callback="deviceSelected"></div>

<div class="container">

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h5>Service order</h5>

                    <form name="data.form" novalidate>
                        <div class="row">
                            <div input-field class="col s4">
                                <input id="customer" type="text" name="customer" data-ng-model="serviceOrder.serviceRequest.customer.subject.name"
                                       required="" aria-required="true" disabled>
                                <label for="customer">Customer</label>
                            </div>
                            <div input-field class="col s4">
                                <input id="status" type="text" name="status" data-ng-model="serviceOrder.serviceOrderStatusType.name" disabled>
                                <label for="status">Status</label>
                            </div>
                            <div input-field class="col s4">
                                <input id="totalPrice" type="text" name="totalPrice" data-ng-model="serviceOrder.totalPrice" disabled>
                                <label for="totalPrice">Total price</label>
                            </div>
                            <div input-field class="col s12">
                                <textarea id="note" class="materialize-textarea" data-ng-model="serviceOrder.note"></textarea>
                                <label for="note">Note</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button class="btn waves-effect waves-light right" name="button-find-device"
                                        data-ng-href='#findDeviceModal' data-modal>Find device</button>
                                <button class="btn waves-effect waves-light right" name="button-create-device"
                                        data-ng-href='#createDeviceModal' data-modal>Create device</button>
                                <h5>Devices</h5>
                                <table>
                                    <thead>
                                    <tr>
                                        <th data-field="id">ID</th>
                                        <th data-field="name">Device name</th>
                                        <th data-field="model">Model</th>
                                        <th data-field="type">Type</th>
                                        <th data-field="status">Status</th>
                                        <th data-field="actions"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="serviceDevice in serviceOrder.serviceDevices">
                                        <td>{{serviceDevice.device.id}}</td>
                                        <td>{{serviceDevice.device.name}}</td>
                                        <td>{{serviceDevice.device.model}}</td>
                                        <td>{{serviceDevice.device.deviceType.name}}</td>
                                        <td>{{serviceDevice.serviceDeviceStatusType.name}}</td>
                                        <td>
                                            <a href="" data-ng-click="remove($index)" class="waves-effect waves-light btn right">Remove</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div input-field class="col s4 offset-s4">
                                <button class="btn waves-effect waves-light full-width" type="submit" name="button-save"
                                        data-ng-click="save()">Save</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
