// bower:scss
@import "materialize/sass/materialize.scss";
// endbower

body {

}

@import "form.scss";
@import "icon.scss";
@import "dropdown.scss";
@import "modal.scss";

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.small-margin {
  margin-left: 5px;
}