<div class="container">

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <a href="/serviceRequests/new" class="waves-effect waves-light btn right">Create</a>
                    <h5>Service requests</h5>
                    <table>
                        <thead>
                            <tr>
                                <th data-field="id">ID</th>
                                <th data-field="name">Customer</th>
                                <th data-field="descriptionByClient">Description (customer)</th>
                                <th data-field="descriptionByEmployee">Description (employee)</th>
                                <th data-field="status">Status</th>
                                <th data-field="actions"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="serviceRequest in data.serviceRequests">
                                <td>{{serviceRequest.id}}</td>
                                <td>{{serviceRequest.customer.subject.name || (serviceRequest.customer.subject.firstName + ' ' + serviceRequest.customer.subject.lastName)}}</td>
                                <td>{{serviceRequest.descriptionByCustomer}}</td>
                                <td>{{serviceRequest.descriptionByEmployee}}</td>
                                <td>{{serviceRequest.serviceRequestStatusType.name}}</td>
                                <td>
                                    <a data-ng-href="/serviceRequests/{{serviceRequest.id}}" class="waves-effect waves-light btn right">Open</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
